Options +FollowSymLinks
Options -Indexes
RewriteEngine On

# RewriteCond %{SERVER_PORT} 80
# RewriteRule ^(.*)$ https://app.agriplace.agr.br/$1 [R,L]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteCond %{REQUEST_URI} !^/uploads/$
RewriteCond %{REQUEST_URI} !^/assets/$
RewriteRule ^.*$ ./index.php